body{
    background-color: rgba(238, 202, 192, 0.555);
}

#titulo {
    font-size: 30px;
    text-align: center;
    color: rgb(175, 55, 55);

}
.texto {
    text-align: center;
    color: rgb(224, 133, 110);
    font-size: 20px;
    

}