body{
    background-color: rgba(238, 202, 192, 0.555);
}

#titulo {
    font-size: 30px;
    text-align: center;
    color: rgb(190, 71, 71);

}
.texto {
    text-align: center;
    color: rgb(204, 122, 102);
    font-size: 20px;
    

} 